body {
  overflow: hidden;
}

#container {
  overflow-y:scroll; 
  height: 100vh;
  background-color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#bghome {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.40),
    rgba(0, 0, 0, 0.40)
  ),
  url(/images/bg.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; 
  height: 100%; 
  position: relative;
  min-height: 100vh;
}

#menu {
  width: 100%;
  display: inline-flex;
  margin: 2%;
}

.mainnav {
  width: 48%;
  height: 4vh;
  text-align: right;
}

.mainnav a {
  padding: 10px 20px;
  text-decoration: none;
 color: white;
   /*background: #ddd;
  box-shadow: 2px 2px 3.5px 1px #000;
  transition: 0.5s;*/
  border-radius: 50px 50px 50px;
  margin: 4px;
}
/*
.mainnav a:nth-child(1){
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.mainnav a:nth-child(3) {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
*/
.mainnav a:hover {
  background: rgb(8, 8, 8);
  color: white;
}

.mainnav a:active {
  box-shadow: 1px 1px 0.5px 0.5px #000;
  transition: 0.15s;
}

#myname {
  float: left;
  color: #eee;
  text-shadow: 2px 2px 1px #000;
  font-weight: 500;
  font-size: 1.2em;
  width: 48%;
}

#maintext {
  color: #eee;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 2px 3px 3px #000;
  line-height: 4.5em;
  width: 100%;
  position: absolute;
  top: 40%;
}

#maintext h2 {
  font-size: 35px;
}

#maintext h1 {
  font-size: 55px;
}

#social {
  width: 50%;
  padding: 0 25%;
  text-align: center;
  position: absolute;
  bottom: 2%;
}

#social img {
  border-radius: 25%;
  color: rgba(0, 0, 0, 0.50);
  max-height: 6%;
  max-width: 6%;
  min-height: 50px;
  min-width: 50px;
  padding: 0 0.7%;
  opacity: 0.5;
  filter: invert(99%) sepia(3%) saturate(111%) hue-rotate(254deg) brightness(112%) contrast(87%);  
  transition: 0.5s;
}

#facebook:hover {
  filter: invert(41%) sepia(4%) saturate(7048%) hue-rotate(182deg) brightness(94%) contrast(92%);
  opacity: 1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#linkedin:hover {
  filter: invert(30%) sepia(45%) saturate(2017%) hue-rotate(173deg) brightness(101%) contrast(102%);
  opacity: 1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#github:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}


#inputGit:focus {
  animation: treme 0.1s;
  animation-iteration-count: 3;

  margin-top: 0px;
  top: -50%;
  z-index: 2;
  transition: 0.2s;
   
}

@keyframes treme {
  0% {margin-left: 0;}
  25% {margin-left: 5px;}
  50% {margin-left: 0;}
  75% {margin-left: -5px;}
  100% {margin-left: 0;}
}

  

/*label-float{
  position: relative;
  padding-top: 13px;
} */



     